.question{
  border-radius: 5px;
  border: 2px solid black;
  background: #505050;
  color: white;
}
.img{
  padding: 10%;
  width: 100%;
}
.grid{
  z-index: 2;
}
.offset{
  margin-top: 10vh;
  width: 100%;
}
.content{
  text-align: center;
  font-weight: lighter;
  font-size: 2vw
}
.input{
  z-index: 20;
}
.extra-top-padding{
  padding-top: 5%;
}
.top-padding{
  padding-top: 3%;
}
.img2{
  width: 100%;
}

.title{
  text-align: left;
  font-size: 3vw;
}
.header{
  margin: auto;
}
.time{
  text-align: left;
   margin: auto;
   font-size: 3vw; 
   margin-left: 5%;
}
.answer{
  font-size: 3vw; 
  border-radius: 5px;
  border: 2px solid black;
  background: #505050;
  color: white;
  transition: 0.5s background;
}
.answer:first-child{
  margin-top: 5%;
}
.top-margin{
  margin-top: 1%;
}

.answer:hover{
  background: #606060;
}


.btn{
  background-color: #505050;
  border-color: #505050;
}
.btn:active{
  background-color: black!important;
  border-color: black!important;

}
.btn:focus{
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus, .form-control:active,{
  border-color: #505050!important;
  outline: none !important;
  box-shadow: none !important;
}